<div class="main-container">

  <!-- LEFT SIDE -->
  <div class="left-section">

    <div class="login-card">

      <h2>Reset Password</h2>

      <p class="description">
        Enter the temporary password sent to your registered
        hotel email and create a new password.
      </p>

      <form
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >



        <!-- Temporary Password -->
        <div>
          <label>Temporary Password</label>

          <input
            type="text"
            formControlName="temporaryPassword"
            placeholder="Enter temporary password"
          />
        </div>


        <!-- New Password -->
        <div>
          <label>New Password</label>

          <input
            type="password"
            formControlName="newPassword"
            placeholder="Enter new password"
          />
        </div>


        <!-- Confirm Password -->
        <div>
          <label>Confirm Password</label>

          <input
            type="password"
            formControlName="confirmPassword"
            placeholder="Confirm new password"
          />
        </div>


        <!-- Reset Button -->
        <button
          type="submit"
          [disabled]="resetPasswordForm.invalid || loading"
        >

          {{ loading
            ? 'Resetting...'
            : 'Reset Password'
          }}

        </button>


        <!-- Error -->
        <p
          class="error"
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </p>


        <!-- Success -->
        <p
          class="success"
          *ngIf="successMessage"
        >
          {{ successMessage }}
        </p>

      </form>


      <!-- Back -->
      <p class="back-login">

        <a routerLink="/hotel-login">
          ← Back to Hotel Login
        </a>

      </p>

    </div>

  </div>


  <!-- RIGHT SIDE -->
  <div class="right-section"></div>

</div>