.main-container {
  display: flex;
  min-height: 100vh;
  background: #ffffff;
}

/* LEFT SIDE */

.left-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-sizing: border-box;
}

.login-card {
  width: 100%;
  max-width: 680px;
  min-height: 620px;

  background: #ffffff;
  border-radius: 16px;

  padding: 70px 50px;
  box-sizing: border-box;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.login-card h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 35px;
  color: #061b3a;
}


/* FORM */

.form-group {
  margin-bottom: 24px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.form-group input {
  width: 100%;
  height: 54px;

  padding: 0 16px;
  box-sizing: border-box;

  border: 1px solid #d8d8d8;
  border-radius: 10px;

  font-size: 16px;
  outline: none;

  background: #fafafa;
}

.form-group input:focus {
  border-color: #19b89d;
  background: #ffffff;
}


/* LOGIN BUTTON */

button {
  width: 100%;
  height: 55px;

  margin-top: 5px;

  border: none;
  border-radius: 10px;

  background: #19b89d;
  color: white;

  font-size: 19px;
  font-weight: 600;

  cursor: pointer;
}

button:hover {
  background: #139d87;
}


/* FORGOT PASSWORD */

.forgot-password {
  text-align: center;
  margin: 22px 0 18px;
}

.forgot-password a {
  color: #19a88f;
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
}

.forgot-password a:hover {
  color: #117b69;
  text-decoration: underline;
}


/* SIGN UP */

.register-text {
  text-align: center;

  margin: 0;

  font-size: 16px;
  color: #111;
}

.register-text a {
  color: #19a88f;
  text-decoration: none;

  font-weight: 600;
}

.register-text a:hover {
  color: #117b69;
  text-decoration: underline;
}


/* ERROR */

.error-message {
  margin-top: 15px;

  text-align: center;

  color: #d93025;
  font-size: 14px;
}


/* RIGHT SIDE */

.right-section {
  flex: 1;
  background: #b95d39;
}


/* RESPONSIVE */

@media (max-width: 900px) {

  .left-section {
    width: 100%;
  }

  .right-section {
    display: none;
  }

  .login-card {
    max-width: 600px;
  }
}


.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 55px;
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  right: 12px;
  top: 40%;
  transform: translateY(-50%);

  width: 40px !important;
  height: 40px !important;

  padding: 0 !important;

  background: transparent !important;
  border: none !important;

  font-size: 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}