<div class="main-container">

  <div class="left-section">

    <div class="login-card">

      <h2>Forgot Password</h2>

      <p class="description">
        Enter your registered hotel email address.
      </p>

      <form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="onSubmit()"
      >

        <div>
          <label>Email</label>

          <input
            type="email"
            formControlName="email"
            placeholder="Enter hotel email"
          />
        </div>

        <button
          type="submit"
          [disabled]="forgotPasswordForm.invalid || loading"
        >

          {{ loading
            ? 'Sending...'
            : 'Send Temporary Password'
          }}

        </button>

        <p
          class="error"
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </p>

        <p
          class="success"
          *ngIf="successMessage"
        >
          {{ successMessage }}
        </p>

      </form>

      <p class="back-login">

        <a routerLink="/hotel-login">
          ← Back to Hotel Login
        </a>

      </p>

    </div>

  </div>

  <div class="right-section"></div>

</div>