.main-container {
  display: flex;
  min-height: 100vh;
  background: #ffffff;
}

.left-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.right-section {
  width: 60%;
  background: #bd5d38;
}

.login-card {
  width: 100%;
  max-width: 620px;
  padding: 50px 60px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 22px;
  color: #061b3a;
}

.description {
  text-align: center;
  font-size: 19px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111;
}

input {
  width: 100%;
  height: 64px;
  padding: 0 20px;
  box-sizing: border-box;

  border: 1px solid #d5d5d5;
  border-radius: 12px;

  font-size: 18px;
  outline: none;
}

input:focus {
  border-color: #18b99f;
}

button {
  width: 100%;
  height: 65px;

  border: none;
  border-radius: 12px;

  background: #18b99f;
  color: white;

  font-size: 21px;
  font-weight: bold;

  cursor: pointer;
}

button:disabled {
  background: #acd9d2;
  cursor: not-allowed;
}

.error {
  margin-top: 22px;
  padding: 15px;

  text-align: center;

  color: red;
  background: #fff1f1;

  border: 1px solid #ffcccc;
  border-radius: 10px;

  font-size: 17px;
}

.success {
  margin-top: 22px;
  padding: 15px;

  text-align: center;

  color: #087f5b;
  background: #ecfff8;

  border: 1px solid #b7ead8;
  border-radius: 10px;

  font-size: 17px;
}

.back-login {
  text-align: center;
  margin-top: 30px;
}

.back-login a {
  color: #00a991;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}